<meta name="viewport" content="width=device-width">
<body id="welcome">

  <h1 class="title">Hello, Rails</h1>

  <%= link_to '365 reasons to stay awake', controller: 'articles' %>

  <p><i>stay curious, stay hungry</i></p>

</body>
